
/*
Global stuff.
*/
a
  {
  color: rgb(60,60,100);
  text-decoration: none;
  transition: color 0.25s;
  }
a:hover
  {
  color: rgb(110,110,150);
  }
h1, h2, h3, h4, h5, h6
  {
  font-family: Georgia;
  font-weight: 100;
  text-transform: uppercase;
  margin: 0;
  padding: 0;
  color: rgb(60,60,100);
  }

ul, p, dl
  {
  color: rgb(60,60,100);
  }

/*
Basic layout.
*/

h1
  {
  padding: 0px 10px;
  }
body
  {
  margin: 0;
  padding: 0;
  background-color: rgb(252,252,255);
  }

header, footer
  {
  background-color: rgb(60,60,100);
  width: 100%;
  padding: 0;
  margin: 0;
  border: 0;
  color: #f1f1f1; */
  }

header
  {
  position: fixed;
  left: 0;
  right: 0;
  }
header::after
  {
  content: '';
  display: block;
  clear: both;
  }
h1 a
  {
  color: #f1f1f1;
  float: right;
  font-size: 35px;
  }

header ul
  {
  padding: 0;
  margin: 0;
  border: 0;
  font-size: 35px;
  float: left;
  text-transform: uppercase;
  }
#site_navigation li
  {
  padding: 0 10px;
  margin: 0;
  border: 0;
  transition: background-color 0.25s;
  }
header li:hover
  {
  background-color: rgb(0,0,40);
  }
header a
  {
  color: #f1f1f1;
  }
header a:hover
  {
  color: white;
  }

#page_navigation
  {
  text-align: center;
  text-transform: uppercase;
  font-size: 20px;
  }

h2
  {
  font-size: 30px;
  text-align: center;
  padding-top: 60px;
  }

section
  {
  width: 70%;
  margin: 0 auto;
  }

nav ul
  {
  list-style-type: none;
  display: block;
  }
nav li
  {
  display: inline;
  padding: 5px;
  }

article
  {
  border: 2px solid rgb(60,60,100);
  margin: 15px 0px;
  padding: 10px;
  border-radius: 0px 0px 0px 25px;
  background-color: white;
  border-color: rgb(60,60,100);
  box-shadow: 3px 3px 3px rgb(90,90,130);
  transition: box-shadow 0.25s;
  }
article:hover
  {
  box-shadow: 4px 4px 4px rgb(60,60,100);
  }

footer
  {
  width: 100%;
  text-align: center;
  padding: 10px;
  }
img
  {
  display: block;
  margin: 10px auto;
  }

